.hide-article-button {
    position: absolute;
    top: 10px;
    right: 45px;
    padding: 3px 6px;
    z-index: 100;
    cursor: pointer;
    color: white;
    background-color: #0473b2;
    border: none #0473b2;
    border-radius: 2px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
}

.hide-article-button:hover {
    background-color: #006097;
    border-color: #006097;
}